/* Write your CSS here */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
img {
  height: 25px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}
button {
  background-color: transparent;
  border: 0px solid;
}
